<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        {{#if !loggedIn}}
        <a href="/login">Login</a>
        {{/if}}
        {{#if loggedIn}}
        <button id="logout">Logout</button>
        {{/if}}
        <h1>
            The Tech Blog
        </h1>
    </nav>

    <main>
        {{{body}}}
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html>